body{
    margin: 0px;
}

.container{
    width: 100%;
    height: 2000px;
}

.container > header{
    position: fixed;
    width: 100%;
    height: 40px;
    color: #dddddd;
    background-color: hsla(10, 1%, 20%, 1);
    z-index: 2;
}

.container > header > .nav{
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    width: 960px;
    height: 100%;
}

.container > header > .nav > h3{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 7px;
}

.container > header > .nav > h3 > a:visited, :link{
    color: #dddddd;
    text-decoration: none;
}



.container > header > .nav >.global_nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    width: 35%;
    margin: 0px;
    padding: 0px;
}

.container > header > .nav > .global_nav > li{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 30%;
    padding-top: 7px;
    font-size: 1.2rem;
}

.container > header > .nav > .global_nav > li > a:visited, :link{
    color: #dddddd;
    text-decoration: none;
}

.container > header > .nav > .global_nav > li:hover{
    cursor: pointer;
    border-bottom: 2px solid white;

}

.container > header > .nav > .global_nav > li:hover ul{
    display: block;
}

.container > header > .nav > .global_nav > li > ul{
    display: none;
    position: relative;
    top: 10px;
    width: 200px;
    margin: 0px;
    padding: 10px 0px;
    background-color: hsla(10, 1%, 20%, 1);
}

.container > header > .nav > .global_nav > li > ul > li {
    text-align: left;
    padding: 5px 0px;
    padding-left: 25px;
    list-style: none;
}

.container > header > .nav > .user_nav {
    display: flex;
    width: 10%;
    margin: 0px;
    padding: 0px;
}

.container > header > .nav > .user_nav > li{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 50%;
    padding-top: 7px;
}

.container > header > .nav > .user_nav > li > span:hover{
    cursor: pointer;
}


.container > main{
    position: relative;
    box-sizing: border-box;
    top: 40px;
    width: 100%;
    height: 100%;
}

.container > main > h2{
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    text-align: center;
}

.container > main > .slider{
    position: relative;
    width: 100%;
    height: 40vw;
    margin: 0px auto;
    border-radius: 0px;
    overflow: hidden;
}



.container > main > .slider > .image{
    transition: all 1s;
    width: 100%;
    height: 100%;
}

.container > main > .slider > .image > div{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.container > main > .slider > .image > div:nth-child(1) {
    position: absolute;
    background-image: url(./images/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-Y: 50%;
}

.container > main > .slider > .image > div:nth-child(2) {
    position: absolute;
    background-image: url(./images/2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 45%;
}

.container > main > .slider > .image > div:nth-child(3) {
    position: absolute;
    background-image: url(./images/3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;

}

.container > main > .slider > .image > div:nth-child(4) {
    position: absolute;
    background-image: url(./images/4.webp);
    background-size: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 45%;
}

.container > main > .slider > .image > div > a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.page{
    display: inline-block;
    position: relative;
    top: -40px;
    left: 45%;
    width: 135px;
    padding: 0px;
    margin: 0px;
    
}

.page > li{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 2px solid #dddddd;
    border-radius: 20px;
    box-shadow: 2px 2px 5px;
    background-color: white;
}

.container > main > .card{
    width: auto;
    height: 800px;
}

.container > main > .card > h1{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

.container > main > .card > .content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 40%;
}

.container > main > .card > .content > div{
    display: inline-block;
    border-radius: 10px;
    width: 30%;
    height: 150px;
    background-color: hsla(30, 5%, 40%, 0.8);
}

.container > main > .card > .content > div:hover{
    transition: all 1s;
    cursor: pointer;
    background-color: hsla(30, 5%, 60%, 0.8);
}


.container > main > .card > .content > div > h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.6rem;
}

.container > main > .card > .content > div:nth-child(1){
/*     background-image: url(./images/5.webp);
    background-size: cover;
    background-position-x: 50%;
 */
}




@media all and (min-width: 960px) {
    .container > header > .nav{
        width: 960px;
    }
}

@media all and (max-width: 960px) {
    .container > main > .card > .content > div{
        width: 30%;
    }

}

@media all and (max-width: 900px) {
    .container > header > .nav{
        width: auto;
    }


}

@media all and (max-width: 750px) {
    .container > header > .nav > .global_nav{
        display: none;
    }
    .container > header > .nav > .user_nav{
        width: 20%;
    }

}