body{
    margin: 0px;
}

.container{
    width: 100%;
    height: auto;
}

.container > header{
    position: fixed;
    width: 100%;
    height: 40px;
    color: #dddddd;
    background-color: hsla(10, 1%, 20%, 1);
    z-index: 2;
}

.container > header > .nav{
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    width: 960px;
    height: 100%;
}

.container > header > .nav > h3{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 7px;
}

.container > header > .nav > h3 > a:visited, :link{
    color: #dddddd;
    text-decoration: none;
}

.container > header > .nav >.global_nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    width: 35%;
    margin: 0px;
    padding: 0px;
}

.container > header > .nav > .global_nav > li{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 30%;
    padding-top: 7px;
    font-size: 1.2rem;
}

.container > header > .nav > .global_nav > li > a:visited, :link{
    color: #dddddd;
    text-decoration: none;
}

.container > header > .nav > .global_nav > li:hover{
    cursor: pointer;
    border-bottom: 2px solid white;

}

.container > header > .nav > .global_nav > li:hover ul{
    display: block;
}

.container > header > .nav > .global_nav > li > ul{
    display: none;
    position: relative;
    top: 10px;
    width: 200px;
    margin: 0px;
    padding: 10px 0px;
    background-color: hsla(10, 1%, 20%, 1);
}

.container > header > .nav > .global_nav > li > ul > li {
    text-align: left;
    padding: 5px 0px;
    padding-left: 25px;
    list-style: none;
}

.container > header > .nav > .global_narrow_nav{
    display: none;
    text-align: center;
    width: 8%;
    position: relative;
    padding-top: 7px;
}

.container > .global_nav_menu{
    display: none;
    position: fixed;
    top: 40px;
    width: 100%;
    height: 60%;
    background-color: hsla(10, 1%, 20%, 0.9);
    z-index: 5;
}

.container > .global_nav_menu.open{
    display: block;
}

.container > .global_nav_menu > ul{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

.container > .global_nav_menu > ul > h2{
    display: inline-block;
    width: 100%;
    margin: 0px 0px;
    border: 1px solid white
}

.container > .global_nav_menu > ul > li{
    margin: 10px 0px;
    list-style: none;
}

.container > header > .nav > .user_nav {
    display: flex;
    width: 10%;
    margin: 0px;
    padding: 0px;
}

.container > header > .nav > .user_nav > li{
    display: inline-block;
    transition: all 1s;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 50%;
    padding-top: 7px;
}

.container > header > .nav > .user_nav > li > span:hover{
    cursor: pointer;
}

.container > header > .nav > .user_nav > li > .search{
    display: none;
    position: relative;
    top: -28px;
    left: 300%;
    width: 150px;
    float: right;
}

.container > header > .nav > .user_nav > .search_li.open{
    transform: translateX(-300%);
}

.container > header > .nav > .user_nav > li > .search.open{
    display: block;
    transition: all 1s;
}

.container > header > .nav > .user_nav > li > .search > input{
    width: 90%;
}

.container > main{
    position: relative;
    box-sizing: border-box;
    top: 40px;
    width: 100%;
    height: 100%;
}

.container > main > h2{
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    text-align: center;
}

.container > main > .slider{
    position: relative;
    width: 100%;
    height: 45vw;
    margin: 0px auto;
    border-radius: 0px;
    overflow: hidden;
}

.container > main > .slider > .image{
    transition: all 1s;
    width: 100%;
    height: 100%;
}

.container > main > .slider > .image > div{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.container > main > .slider > .image > div:nth-child(1) {
    position: absolute;
    background-image: url(./images/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-Y: 50%;
}

.container > main > .slider > .image > div:nth-child(2) {
    position: absolute;
    background-image: url(./images/2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 45%;
}

.container > main > .slider > .image > div:nth-child(3) {
    position: absolute;
    background-image: url(./images/5.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 43%;

}

.container > main > .slider > .image > div:nth-child(4) {
    position: absolute;
    background-image: url(./images/4.webp);
    background-size: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 45%;
}

.container > main > .slider > .image > div > a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.page{
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: -30px;
}

.page > li{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border: 2px solid #535353;
    border-radius: 20px;
    background-color: #535353;
}

.container > main > .shop_Menu{
    width: auto;
    height: auto;
}

.container > main > .shop_Menu > h1{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

.container > main > .shop_Menu > .content{
    height: 90%;
}

.container > main > .shop_Menu > .content > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;
    padding: 0px;
    width: 80%;
}

.container > main > .shop_Menu > .content > ul > li{
    display: inline-block;
    width: 15%;
    height: 30px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    border: 1px solid grey;
    background-color: #535353;
    color: #dddddd;
}

.container > main > .shop_Menu > .content > ul > li:hover{
    text-decoration: underline;
}

.container > main > .shop_Menu > .content > .card {
    width: 90%;
    height: 90%;
    margin: 10px auto;
}

.container > main > .shop_Menu > .content > .card > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container > main > .shop_Menu > .content > .card > div > div{
    width: 300px;
    height: 300px;
    background-size: 300px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 10px 0px;
    border-radius: 20px;
}

.container > main > .shop_Menu > .content > .card > div > div:hover .card_top{
    transform: translateY(80px);
}

.container > main > .shop_Menu > .content > .card > div > div:hover .card_bottom{
    transform: translateY(-80px);
}

.container > main > .shop_Menu > .content > .card > div > div > .card_top{
    box-sizing: border-box;
    transition: all 0.7s;
    position: relative;
    top: -80px;
    width: 300px;
    height: 50px;
    background-color: hsla(10, 1%, 20%, 0.7);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 15px;
}

.container > main > .shop_Menu > .content > .card > div > div > .card_top::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 0px;
    border-right: 300px solid transparent;
    border-bottom: 25px solid hsla(10, 1%, 20%, 0.7);
    transform: scaleY(-1);
}

.container > main > .shop_Menu > .content > .card > div > div > .card_bottom{
    transition: all 0.7s;
    position: relative;
    top: 280px;
    width: 300px;
    height: 50px;
    background-color: hsla(10, 1%, 20%, 0.7);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.container > main > .shop_Menu > .content > .card > div > div > .card_bottom::after{
    content: "";
    position: absolute;
    top: -25px;
    left: 0px;
    border-right: 300px solid transparent;
    border-bottom: 25px solid hsla(10, 1%, 20%, 0.7);
    transform: scaleX(-1);
}

.container > main > .DIY_Menu {
    width: 100%;
    height: auto;
}

.container > main > .DIY_Menu > h1{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0px;
}

.container > main > .DIY_Menu > .content{
    height: 90%;
}

.container > main > .DIY_Menu > .content > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;
    padding: 0px;
    width: 80%;
}

.container > main > .DIY_Menu > .content > ul > li{
    display: inline-block;
    width: 15%;
    height: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    border: 1px solid grey;
    background-color: #535353;
    color: #dddddd;
}

.container > main > .DIY_Menu > .content > .card {
    width: 90%;
    height: 90%;
    margin: 10px auto;
}

.container > main > .DIY_Menu > .content > .card > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container > main > .DIY_Menu > .content > .card > div > div{
    width: 300px;
    height: 300px;
    background-size: 300px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 10px 0px;
    border-radius: 20px;
}

.container > main > .DIY_Menu > .content > .card > div > div:hover .card_top{
    transform: translateY(80px);
}

.container > main > .DIY_Menu > .content > .card > div > div:hover .card_bottom{
    transform: translateY(-80px);
}

.container > main > .DIY_Menu > .content > .card > div > div > .card_top{
    box-sizing: border-box;
    transition: all 0.7s;
    position: relative;
    top: -80px;
    width: 300px;
    height: 50px;
    background-color: hsla(10, 1%, 20%, 0.7);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 15px;
}

.container > main > .DIY_Menu > .content > .card > div > div > .card_top::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 0px;
    border-right: 300px solid transparent;
    border-bottom: 25px solid hsla(10, 1%, 20%, 0.7);
    transform: scaleY(-1);
}

.container > main > .DIY_Menu > .content > .card > div > div > .card_bottom{
    transition: all 0.7s;
    position: relative;
    top: 280px;
    width: 300px;
    height: 50px;
    background-color: hsla(10, 1%, 20%, 0.7);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.container > main > .DIY_Menu > .content > .card > div > div > .card_bottom::after{
    content: "";
    position: absolute;
    top: -25px;
    left: 0px;
    border-right: 300px solid transparent;
    border-bottom: 25px solid hsla(10, 1%, 20%, 0.7);
    transform: scaleX(-1);
}

.container > footer{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: hsla(10, 1%, 20%, 1);
    color: white;
    text-align: center;
    font-size: 1.5rem;
} 

@media all and (min-width: 960px) {
    .container > header > .nav{
        width: 960px;
    }
}

@media all and (max-width: 960px) {
    .container > main > .card > .content > div{
        width: 30%;
    }

}

@media all and (max-width: 900px) {
    .container > header > .nav{
        width: auto;
    }

    .container > header > .nav > .user_nav > li > .search{
        left: 300%;
        width: 120px;
    }
}

@media all and (max-width: 750px) {
    .container > header > .nav > .global_nav{
        display: none;
    }
    .container > header > .nav > .global_narrow_nav{
        display: block;
    }

    .container > header > .nav > .user_nav{
        width: 20%;
    }

    .container > header > .nav > .user_nav > li > .search{
        left: 100%;
        width: auto;
    }

    .container > main > .DIY_Menu > .content > ul > li{
        width: auto;
    }

    .container > header > .nav > .user_nav > .search_li.open{
        transform: translateX(-150%);
    }

}